<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
</head>

<body>
    <h1> <%= title %></h1>
    <ul>
        <% for (let i = 0; i < cocktails.length; i++) { %>
        <li><%= cocktails[i].name %></li>
        <% } %>
    </ul>
</body>

</html>